/* Material UI Font Import */
import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';

/* Hiding Scrollbar */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Root Styling */
#root{
  height: 97vh;
  overflow-y: auto;
  /* border: 2px solid blue; */
  -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  
}

#root::-webkit-scrollbar {
    display: none;
  }